{% comment %}
  Snippet: Custom Input Field
  Usage:
  {% render 'custom-input', type: 'text', name: 'first_name', label: 'First Name', value: form.first_name, placeholder: 'Enter your first name', error: form.errors.first_name, isRequired: true %}
{% endcomment %}

<div class="relative group w-full">
  <!-- Input Field -->
  <input
    id="{{ name }}"
    type="{{ type | default: 'text' }}"
    name="{{ name }}"
    value="{{ value | escape }}"
    placeholder=""
    required="{{ isRequired }}"
    class="peer w-full p-3 md:p-4 text-white bg-transparent border {% if error %}border-red-500{% else %}border-gray-300{% endif %} rounded-md outline-none transition-all border-white placeholder-shown:bg-white/20"
  >

  <!-- Label -->
  <label
    for="{{ name }}"
    class="
      absolute cursor-pointer left-3 text-gray-400 text-base transition-all
      peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-white
      peer-focus:-top-2 peer-focus:text-xs peer-focus:text-white peer-focus:bg-secondary
      peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-white peer-not-placeholder-shown:bg-secondary
      px-1
    "
  >
    {{ label }}
  </label>

  <!-- Error Message -->
  {% if error %}
    {% render 'tooltip', tooltip: error, isMandatory: true, isError: true %}
  {% endif %}
</div>
